[2019-06-03 06:15] #403 closed

[2019-06-03 18:26] emicklei commented on #406
can this be closed?

[2019-06-03 18:26] emicklei commented on #405
can this be closed?

[2019-06-03 18:26] #401 closed

[2019-06-03 18:26] #397 closed

[2019-06-03 18:26] #388 closed

[2019-06-03 18:28] emicklei commented on #394
@sindrepm did you find a solution to this issue?

[2019-06-03 18:28] #260 closed

[2019-06-03 18:29] emicklei commented on #384
can this be closed?

[2019-06-04 03:02] kitianFresh commented on #406
@emicklei  So sorry for late to reply, I have got it from readEntity method. Thanks for your answer. You can close it

[2019-06-04 03:03] #406 closed

[2019-06-06 09:51] #405 closed

[2019-06-06 09:52] #399 closed

[2019-06-06 09:52] #384 closed

[2019-06-06 09:54] emicklei commented on #374
i think it is time to add the v3, agree?

[2019-06-11 02:32] knabben commented on #331
An example of JWT HMAC authentication with filter in https://github.com/emicklei/go-restful/pull/407

[2019-06-12 12:36] kitianFresh opened #408 "How to set filter for response not request?"
I know you can set a filter for each request when it coming, such as web logging, but when each response return ,before return , i need logging some response data, how i insert the filter to it

[2019-06-12 14:00] emicklei commented on #408
that is possible too.  Have a look at the examples folder, it has a program that does full logging by capturing the output stream.  You could use that data again to extract your info.

[2019-06-18 01:21] cyantarek opened #409 "How to log requests and responses?"

[2019-06-18 07:07] emicklei commented on #409
there is an example in the repository that demonstrates this

[2019-06-18 07:07] #409 closed

[2019-06-18 07:07] #408 closed

[2019-06-19 05:07] cyantarek commented on #409
Link?

[2019-06-21 14:04] emicklei commented on #409
https://github.com/emicklei/go-restful/blob/master/examples/restful-full-logging-filter.go

let me know if you need more help

[2019-08-23 02:05] kitianFresh opened #411 "How i get request body more than once？"
I found go-restful can not ready body more than once. you can only call ReadEntity once, if you call it again, there is no body data any more.

I want get body twice because i want check body param in filter and then decide whether to chain it to handler

[2019-08-23 07:58] emicklei commented on #411
there is an example that shows how to do this.
The example is about full logging of request and ressponse data.
The implementation uses the ability to set the Body again with a new reader after consuming it.

[2019-08-25 09:23] kitianFresh commented on #411
I’ve got it， thanks!

[2019-08-25 09:23] #411 closed

[2019-09-05 07:52] ShiningRush commented on #394
@sindrepm @emicklei  i have already support google custom verb, plz check the pr

[2019-09-18 12:37] emicklei commented on #394
this feature has been implemented by @ShiningRush

[2019-09-18 12:37] #394 closed

[2019-09-18 12:37] #331 closed

[2019-10-24 09:16] renkam opened #415 "WriteError return its argument as error status instead result of WriteErrorString"
In function https://github.com/emicklei/go-restful/blob/5d8b667fa26d374ff451368b5040d3adbb9c7db4/response.go#L178 `WriteError` argument `err` is returned instead of result of calling `WriteErrorString`.

[2019-10-24 21:04] emicklei commented on #415
good catch. this needs to be changed

[2019-11-04 21:37] emicklei commented on #415
i will close this as the fix has been pushed to master

[2019-11-04 21:37] #415 closed

[2019-11-07 20:53] y0ssar1an commented on #374
Do eeeet 🙂
Even if the only feature of v3 is Go module support, it's worth it.

[2019-11-08 13:22] emicklei commented on #374
From https://blog.golang.org/v2-go-modules

.. do we have users developing in GOPATH mode ?

I.e are you ok with v3 being on master or should this package use a v3 subdirectory?

[2019-11-08 14:08] tekkamanendless commented on #374
I have never worked on a project that took the subdirectory approach; everything that I've seen so far has just bumped the major version and added `go.mod` to the top-level directory.  If you take the sub-directory approach, then you'll have two code-bases to maintain in one branch for no particularly good reason.

Even if people still use GOPATH, it's pretty clear to me that the future of Go is m

[2019-11-11 01:00] y0ssar1an commented on #374
Yeah, I definitely think v3 should be on `master`. I've seen repos that try to keep multiple copies of the same repo under `v2/`, `v3/`, etc. directories and it's really ugly. `go test ./...` runs the same test multiple times (for code that didn't change between versions). The repo size doubles. It's harder to `grep`.

Putting v3 on `master` won't break anybody who has pinned their version of `go-

[2019-11-25 12:02] Jiajing-Hu opened #416 "is go-restful support websocket?"
I write a program  based on go-restful.
Recently I want to add a new API which use websocket.But the ws.Route seems only support http request..
so..I wonder does go-restful support websocket..
and if the answer is yes...May I ask how?

thank you .
sorry for my poor English

[2019-11-25 13:37] emicklei commented on #416
Hi,

Currently, it does not support websockets. Last time I used websocket, I initialized a direct handler using the golang/net/x websocket package.  The whole request response flow is quite different from REST. Even if it is possible to put the Route in go-resftfull, the solution would not be able to use any of the other runtime logic of this package.

[2019-11-26 02:20] Jiajing-Hu commented on #416
okay..I'll look for other way to solve this problem.

anyway thank you and your excellent go-restful

[2019-11-26 02:20] #416 closed

[2019-11-26 20:07] emicklei commented on #374
thank you all for commenting on this issue, I decided to put the v3 on the current master.

Initially, I planned to process all the deprecated pieces in v3. This would however break existing code bases that do not use modules. So to prevent that from happening, those pieces will be removed in a later major version (v4), if ever.

[2019-12-06 16:10] emicklei commented on #374
fyi, I am working on the getting the module support right.
I found a problem with the subpackage called log which is used in several files but not imported with the v3 in the path. This causes the go.mod to include a require on a v2 version.

To investigate and solve this problem, I created a temporary project https://github.com/emicklei/thingabee  to have a minimal setup that shows it.

[2019-12-06 16:28] tekkamanendless commented on #374
That's because you _must_ change the import of every `emicklei/go-restful` reference to a `emicklei/go-restful/v3` reference in order to use `v3`.

Because you import `github.com/emicklei/thingabee/log`, it knows that it's not looking at `v3`, so it drops back to `v2`.  The proper import would be `github.com/emicklei/thingabee/v3/log`; doing that will make it happy.

[2019-12-07 05:04] emicklei commented on #374
@tekkamanendless thank you for explaining this. I did some testing to see if there was another way that would not break GOPATH users of this package, i.e those that do not use Go modules.

[2019-12-14 06:31] emicklei commented on #374
I am now exploring this approach https://posener.github.io/branch-strategy/  using  the github.com/emicklei/thingabee project. I get unexpected results though.

[code]

[code]

Why the indirect require? The /log directory has its own module definition.

[2019-12-15 08:12] emicklei commented on #374
with a go.mod
[code]
and program
[code]
the Go module dependency is pickup up correctly and this program runs fine.

[2019-12-15 20:41] tekkamanendless commented on #374
On the `demo` comment (2 above), the thingabee `v2.0.5` release fixes the log path and the correct `go.mod` and `go.sum` files end up looking like this (after `go mod tidy`):

*go.mod*

[code]

*go.sum*

[code]

The important thing to remember is that the module version is a suffix on the module name, not any arbitrary path (that was what `v2.0.5` was doing incorrectly).

Diff between `v2.0.4` and

[2019-12-18 11:49] Lynskylate opened #418 "Is go-restful support http2?"

[2019-12-18 14:41] emicklei commented on #418
yes it does,  try it out using curl providing the "--http2" option.
It does because the HTTP package of Go is supporting it since version 1.6

[2019-12-19 06:02] #418 closed

[2020-01-12 16:20] emicklei commented on #374
I have updated both master and v3 branch and created the v3.0.0 version which supports Go Modules.

[2020-01-12 16:20] #374 closed

[2020-01-13 09:19] tianxiaoliang opened #419 "can not specify response header?"
[code]

now I can not use code to describe the response header, it can not automatically generate a complete swagger doc.

is there any way I can generate response header spec?

[2020-01-15 00:08] y0ssar1an commented on #374
@emicklei I think you forgot to add a `go.mod` file. My understanding is that it's not a Go module until it has this file.

[2020-01-15 08:47] emicklei commented on #374
@y0ssar1an the go.mod only exists in the v3 branch.

If you start importing the package using github.com/go-restful/v3 then the Go tooling will use the v3 branch instead of the master ( your go.mod should have:  require github.com/emicklei/go-restful/v3 v3.0.0

[2020-01-17 02:12] Patrick0308 opened #420 "Can I change container, use gin or beego?"
I want to use gin  as a http server, may be beego. Is it has ability to customize container.

[2020-01-17 09:46] emicklei commented on #420
I consider gin to be an competitive package, don't know about beego.
What kind of customization are you looking for?

[2020-01-17 09:47] emicklei commented on #419
Did you have a look how go-restful-openapi is generating Swagger (OpenAPI) docs?

[2020-02-03 03:26] sfzeng opened #423 "Can it support S3 client?"
Hi, I'm trying to using it to implement an AWS S3 compatible s3 server, and I tried to use s3 client to test it, but I got '415: Unsupported Media Type' error when creating a bucket and initing multipart upload. For AWS S3, it's valid to do these two requests without a request body, that means it's valid to do PUT/POST request without a request body. So do you have any suggestions? Can I add PUT&P

[2020-02-05 08:15] emicklei commented on #423
thank you for reporting this. I will have a look at your usecase and come back with a suggestion asap

[2020-02-05 08:22] emicklei commented on #423
I propose to make a change to Route such that you can override this list of methods on a per Route basis. For that I am thinking about introducing a method to change the field allowedMethodsWithoutContentType which is default set to the methods currently present at line 112

[2020-02-05 08:59] emicklei commented on #423
have a look at https://github.com/emicklei/go-restful/pull/424

[2020-02-10 07:07] tianxiaoliang commented on #419
yes

[2020-02-16 20:13] emicklei commented on #419
If you use go-restful-openapi then with the PostBuildSwaggerObjectHandler you can perhaps achieve what you want.  Your question is not clear about what you are missing in "describe the response header"

[2020-02-19 08:52] sfzeng commented on #423
Hi @emicklei , thank you very much, that works for me now !

[2020-03-09 11:21] #419 closed

[2020-03-16 06:38] siff-jason opened #427 "supporting compressed _request_ bodies"
It's not just responses that may be large where compression is useful - there can also be requests (POSTs/PUTs) with large request bodies that could also benefit from compression. This is really only possible where you control both ends because the request comes in and there is no negotiation whether it's supported or not (unlike Accept-Encoding for responses). So it's not normally something that'

[2020-03-16 10:28] emicklei commented on #427
yes, I think we can add that feature. Do you want to take a shot at it?

[2020-03-17 04:50] siff-jason commented on #427
yeah i can give it a shot

[2020-03-24 12:17] sundowndev opened #428 "Coverage report?"
Hi, awesome project! Is it possible to add a coverage report? Thanks

[2020-03-29 19:59] emicklei commented on #428
sure, will add it

[2020-04-08 12:26] SKowshik4614 opened #429 "skip the query parameter if it is empty"
Hi Guys,

I am using go-micro frame work to build an microservice. Can anyone help me how to continue with the request if the query parameter is empty?

Main:
func main() {
log.Println("Starting")
service := web.NewService(
web.Name("ms.api"),
web.Address(":8081"),)
if err := service.Init(); err != nil {
log.Fatal(err)
}

cl = list.NewListService("ms.list", client.DefaultClient)

ing := new(List)

[2020-04-15 13:14] emicklei commented on #429
In what way does your code break?  Can't you check whether the max is empty, e.g. len(max) > 0 before using it in your downstream code?

[2020-04-15 13:31] emicklei commented on #428
i am working on getting coveralls.io to work with this repo

[2020-04-15 13:32] #330 closed

[2020-04-15 13:32] #420 closed

[2020-04-15 13:58] #429 closed

[2020-04-15 17:35] jakubdyszkiewicz opened #430 "Composable WebServices"
Hi,

I've CRUD operations for several entities in my system. All entities are placed under a namespace, so the URLs look like this
`/namespace/{namespace}/entity1`
`/namespace/{namespace}/entity2`
My first approach was to create WebService for each entity and add routes withing every web service. The problem I've got is that go-restful throws an error that I cannot register multiple services with

[2020-04-16 10:37] emicklei commented on #430
A similar request has been done in the past https://github.com/emicklei/go-restful/issues/399 but we did not follow up on that.
I think it is still worth adding it as a feature.
Your suggestion to add a Setter feels like a workaround.
Please have a look at the old issue (and so will I) then we can discuss implementation strategies

[2020-04-28 22:44] sundowndev commented on #428
codecov works well too 👍

[2020-05-01 08:37] a-roberts opened #431 "Implementing CSRF protection"
Hi all, we've got a Go backend + React (webpack bundled) based frontend for our Tekton Dashboard and I'm working on https://github.com/tektoncd/dashboard/issues/1255. We're currently using go-restful and wondering if anyone's successfully implemented CSRF protection with this library - I've had a good search and the suggestions involve using gorilla/csrf - I can't see how to get that working with

[2020-05-08 17:20] emicklei commented on #431
there seems to be several methods to mitigate CSRF (https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#token-based-mitigation).
I will have a look at the gorilla implementation to have a better idea what to do here.

[2020-05-08 17:23] emicklei commented on #431
gorilla/csrf supports "any other router/framework that rallies around Go's http.Handler interface."  I will put together an example how this can be used (i guess it can) with restful.

[2020-05-09 10:59] a-roberts commented on #431
That'd be useful, thanks! FYI we have an implementation merged now, using the existing go restful routing set up, see https://github.com/tektoncd/dashboard/pull/1351

[2020-05-16 10:57] AbelHu opened #432 "Was the tag v1.1.4 deleted recently?"
@emicklei Just want to know whether the tag v1.1.4 was deleted recently. And the latest v1 tag v1.2 is not a valid semver version. Would you have any plan to create a new tag v1.2.0?

[2020-05-16 16:14] emicklei commented on #432
no tag was deleted, ever. Since the go module support, new tags are v3.0+  . And yes, older tags may not conform to semver. If it helps, I can create a tag for a specific commit if you want.

[2020-05-16 17:45] exavolt opened #433 "Path operation security for OpenAPI spec"
Is there any support for defining path operation security which follows [OpenAPI's spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operation-object).

I can already define the supported securities through `PostBuildSwaggerObjectHandler` but I am unable to find a way to refer those from the endpoints.

[2020-05-17 02:10] AbelHu commented on #432
Just confirm this. Will ask your help if we really need a specific commit. Thanks.

[2020-05-17 02:10] #432 closed

[2020-05-24 14:47] brackendawson opened #434 "Acceptable representations not listed in body of '406: Not Acceptable' responses"
RFC 7231 says that the server *should* include a list of representations in the body of a 406 response: https://tools.ietf.org/html/rfc7231#section-6.5.6

Currently restful just says:
[code]
<details>
<summary>Test server</summary>

[code]
</details>

But the RFC doesn't have an opinion on what form that list should take. As restful already provides a text/plain body, I think it should be expended

[2020-05-24 14:54] brackendawson opened #435 "Allow header not set on '405: Method Not Allowed' responses."
RFC 7231 says that the server *must* set the Allow header on a 405 response: https://tools.ietf.org/html/rfc7231#section-6.5.5
https://tools.ietf.org/html/rfc7231#section-7.4.1

Currently restful doesn't:
[code]
<details>
<summary>Test server</summary>

[code]
</details>

I think restful should, I'm happy to do the work if you agree.

[2020-05-26 18:28] emicklei commented on #433
we could add this to a Route ; would you be interested in creating a PR?

[2020-06-21 13:58] #435 closed

[2020-06-21 14:14] emicklei commented on #434
yes, please help fixing this.

[2020-06-21 14:22] emicklei commented on #428
done for master, if it works then I will add it to v3 branch as well.

[2020-06-21 14:22] #428 closed

[2020-06-21 14:23] emicklei commented on #423
can this be closed?

[2020-06-21 14:23] emicklei commented on #427
any luck with the proposal?

[2020-06-21 14:25] emicklei commented on #430
how about a CopyWithRouters method?

[2020-06-21 21:13] brackendawson opened #438 "go-restful returns invalid HTTP/1.0 responses for some errors"
I found another spec thing. If you send a HTTP/1.0 request to go-restful it can return some invalid HTTP/1.0 responses, for example when the method is not allowed:

[code]

405 is not listed as an error in RFC 1945: https://tools.ietf.org/html/rfc1945#section-9.4

I think the following HTTP/1.1 errors may be sent to HTTP/1.0 clients by the code as it stands today:
* 405 Method Not Allowed
* 406 No

[2020-07-12 04:38] zhangweidongyyl opened #440 "go restful examples restful-user-resource.go has error"
go restful examples restful-user-resource.go has error in createUser and updateUser

[2020-07-19 14:18] whypro opened #441 "How can I get the response body in the Response object?"
I want to logging the response body, but I cannot found that field directly in restful.Response struct.
I also try to make a wrapper to wrap Response object but it isn't an interface. So I cannot use the wrapper to replace `resp` in `chain.ProcessFilter(req, resp)`
How can I get the response body in the Response object?
Thanks in advanced!

[2020-07-19 19:18] emicklei commented on #441
have a look at https://github.com/emicklei/go-restful/blob/master/examples/restful-full-logging-filter.go

[2020-07-19 19:24] emicklei commented on #440
i ran the example and got this
[code]
then I updated the go-openapi package like this
[code]
and the example worked for me

[2020-07-19 19:27] emicklei commented on #438
hi,

thank you for sharing this finding and explaining what happens.
to be honest, I never thought about supporting HTTP/1.0 and was also not aware for the implications.
I am happy to include a change to fix the problem for your case; I prefer to follow the spec where possible.

[2020-07-20 15:37] whypro commented on #441
@emicklei Thanks a lot!

[2020-07-20 15:37] #441 closed

[2020-07-26 14:41] eclipseo opened #442 "Go 1.15: conversion from int to string yields a string of one rune"
Go 1.15 beta 1 on Fedora Rawhide:

[code]

See https://github.com/golang/go/issues/32479

[2020-07-27 15:02] #442 closed

[2020-07-30 15:40] chsatyap opened #444 "Potential code quality issues found"
I forked this repo a while ago and ran a DeepSource analysis on it. DeepSource found a variety of different issues categorized based on their types and severity which you can view [here](https://deepsource.io/gh/chsatyap/go-restful/).

Brief description -
Anti-Patterns:
Bug Risks:
Performance issues:
Security Issues:

You can find a detailed description and fixes for some of them [here](https://de

[2020-08-19 06:33] #434 closed

[2020-09-27 10:05] ash2k opened #448 "Drop github.com/mjibson/appstats from example"
The repository seem to not exist anymore.

[2020-10-06 09:40] emicklei commented on #448
thank you for reporting this.  I will remove it

[2020-10-06 09:42] #444 closed

[2020-10-06 09:43] emicklei commented on #440
yes, the problem is that these examples do not use Go modules, yet. It is on my todo list

[2020-10-06 09:43] #440 closed

[2020-10-06 09:43] #433 closed

[2020-10-06 09:44] #423 closed

[2020-10-09 05:09] shu-mutou opened #449 "HTTP response body was broken, if struct to be converted to JSON has boolean value."
v2.13.0 goes well, but 2.14.0 or later version occurs this issue.

[2020-10-09 06:32] emicklei commented on #449
thank you for reporting this. I will investigate what is going on.

[2020-10-09 06:32] xdhuxc opened #450 "can not read req.Request.Body many times"
Hi, After executing req.ReadEntity(), req.Request.Body is closed. It seems that go-restful does not assign request body to req.Request.Body. but my case want to read req.Request.Body again, how can I do this?

[2020-10-09 06:35] #450 closed

[2020-10-09 06:41] xdhuxc commented on #411
@emicklei can this implementation write in req.ReadEntity(), it may be a more elegant implementation form.

[2020-10-09 15:21] emicklei commented on #449
did you try v2.14.2  as it has fixed w.r.t 2.14.0

[2020-10-11 07:14] shu-mutou commented on #449
I'd tried 2.14.0 and 2.14.2

[2020-10-11 13:41] emicklei commented on #449
thanks, do you have a test that shows this problem?

[2020-10-14 00:08] shu-mutou commented on #449
There are no results such as unit tests, but I suspect it is due to the use of the `rune` function.

[2020-10-15 07:27] shu-mutou commented on #449
Additional info: I found that changing `EnableContentEncoding` from `true` to `false` with 2.14.2 works well.

[2020-10-21 06:12] shu-mutou commented on #449
I tried v3, v3.2.0 works but v3.3.1 does not.

[2020-10-21 07:37] emicklei commented on #449
@shu-mutou does it fail for the same reason?

[2020-10-21 08:25] shu-mutou commented on #449
@emicklei Yes. Completely same.

[2020-10-21 09:26] emicklei commented on #449
@shu-mutou  can you have a look at the example i just added (v3 branch).

With content encoding enabled + accept header , you can gzipped content of the users list.

[2020-10-21 10:57] raghavgg opened #452 "Request's ReadEntity Function gives error if there is empty Body"
I am using request.ReadEntity Function for reading JSON request body. In my case the body is optional. When there is Json body then it works fine but when it's empty then it gives "EOF" error.

I want to know, if it's a issue or functionality.

[2020-10-22 10:18] shu-mutou commented on #449
@emicklei thank you for the example!

In our implementation, I found the responses were gzipped twice.
And I commented out following, then it seems to work fine for our implementation.
https://github.com/emicklei/go-restful/blob/master/container.go#L240-L257

I guess check like following is needed for `dispatch` in `container.go` like in `ServeHTTP` or `Handle`.
https://github.com/emicklei/go-rest

[2020-10-22 11:17] emicklei commented on #449
thank you for this addition insight. will get to it now

[2020-10-26 23:35] shu-mutou commented on #449
We confirmed that v3.3.3 works fine!! Thanks.

[2020-10-26 23:35] #449 closed

[2020-10-28 05:14] rajphoenix20 commented on #373
moved to: https://github.com/emicklei/go-restful/blob/master/examples/tests/restful-routefunction_test.go

[2020-10-29 08:37] RobinTsai opened #454 "No OPTIONS method on WebService"
There is no OPTIONS method on WebService in file [web_service.go](https://github.com/emicklei/go-restful/blob/master/web_service.go#L288)

[2020-10-29 09:03] emicklei commented on #454
There can be if you create a PR :-)

[2020-10-29 09:10] emicklei commented on #452
I don't think it is an issue. An empty document is not a valid JSON document.
But maybe the ReadEntity should inspect the Content-Length header and if it was 0 then return a nil.  Have to think a bit more about this (it would break compatibility of the pkg)

[2020-11-04 06:26] harshitsinghai77 opened #456 "Fix link in README.md"
"Full API of a UserResource" link in the main repository is invalid.

It redirects to https://github.com/emicklei/go-restful/tree/master/examples/restful-user-resource.go
the link doesn't exist.

[2020-11-04 14:15] emicklei commented on #456
thx for reporting this.

[2020-11-04 15:12] #456 closed

[2020-11-06 08:33] fanux opened #457 "openapi stack overflow when read protobuf struct"
My proto.go :
[code]
Using openapi:
[code]

Then program crash....

[code]

[2020-11-06 10:26] emicklei commented on #457
thank you for reporting this.
looks like a recursion problem.

do you know the structure of the types protoimpl.MessageState,  protoimpl.SizeCache, and protoimpl.UnknownFields ? or where I can find them online?

[2020-11-06 10:47] emicklei commented on #457
this is actually a github.com/emicklei/go-restful-openapi issue

[2020-11-06 11:59] fanux commented on #457
protoimpl.MessageState is a little complicated.  You can create a simple grpc struct to reproduce this issue.

Do we have any hot fix plan? Like skip the structure field which don't have json tag?

[code]

[2020-11-06 14:24] emicklei commented on #457
skipping fields without json is not helping here. I want to create a unit test that demonstrates the problem first. then solve the recursion problem (if that is the case).

[2020-11-07 16:40] lmtwb commented on #165
@emicklei hello,  Does schema validation support this feature currently?，I think it can be developed with "github.com/go-playground/validator/v10"

[2020-11-11 01:37] #454 closed

[2020-11-11 07:19] emicklei commented on #454
@RobinTsai thank u for contributing

[2020-11-11 10:50] RobinTsai commented on #454
It's my honor.

[2020-11-26 11:31] kodiakdev opened #458 "Can't get CORS filter to work"
First of all, thank you for this amazing framework. It's very mature and I rarely encounter any concerning issue.

I've read the issues (if not all) related on the CORS in this repo. But it seems that I can't get it to work.
Here are my research & efforts:
1. I've tried adding filter on ws with this https://github.com/emicklei/go-restful/issues/27#issuecomment-142142068
2. Tried adding filter on w

[2020-12-07 21:47] Fapiko opened #459 "Proposal: Add Route metadata to request attributes or allow adding attributes to routes"
It would be nice to see metadata or some way to inject attributes of routes into the request object so they are accessible in handlers and filters. It seems like it would be fairly easy to do it when the request is wrapped: https://github.com/emicklei/go-restful/blob/80bbcf816141a5df050090c4914ad294ede63374/route.go#L69-L77 It already has an `Attributes` field but those seem to be scoped to an inb

[2020-12-08 12:26] emicklei commented on #459
interesting.

Yes, the attributes field was introduced at a time that Context was not available or not part of the standard pkgs.
I will have a look if and how attributes can be made available to the request.

[2020-12-08 12:27] emicklei commented on #458
Thank you for reporting this. I will dive into this problem soon.

[2020-12-11 13:01] weijunji commented on #458
I think the problem is the `AllowedHeaders: []string{"*"}`, when I set `AllowedHeaders: []string{"content-type"}`, it works.
https://github.com/emicklei/go-restful/blob/8dd9eb88e2526fab4b4768e46d6b75e72d471fb9/cors_filter.go#L182
In this function, it is better to support `"*"`.

[2020-12-11 15:40] emicklei commented on #458
@weijunji thank you for getting back on this ; I will make the change you suggested

[2020-12-13 15:06] Smityz opened #460 "Ask for help: How to set timeout in the server"
Because the server takes too long to process the data, it will exceed the default maximum timeout time of http.get, causing the client get resp.StatusCode = 502, how can I prolong the http time limit?

[2020-12-13 19:05] emicklei commented on #460
this is a nice article that can be of help to you: https://itnext.io/http-request-timeouts-in-go-for-beginners-fe6445137c90

[2020-12-13 19:16] emicklei commented on #459
have a look at https://github.com/emicklei/go-restful/pull/462

[2020-12-13 19:23] emicklei commented on #458
have a look at https://github.com/emicklei/go-restful/pull/463  .  I will create a test before merging it

[2021-01-12 18:15] chidv opened #464 "Question: How to process HTTP Patch requests with content-type application/json-patch+json"
Hi,

Does this package supports JSON Patch content type (application/json-patch+json)  ?

In all the examples I see, they have either MIME_JSON/MIME_XML..

[2021-01-12 20:01] emicklei commented on #464
The Route.Consumes accepts any string. The MIME_JSON is just a string constant.
I suggest you change the example and test yourself.

[2021-01-12 20:01] #460 closed

[2021-01-12 20:02] emicklei commented on #459
@Fapiko does this help your usecase?

[2021-01-12 22:33] chidv commented on #464
Yes. I understand now. Thanks for pointing out.
Will use the JSON Patch content-type.

[2021-01-13 13:40] #464 closed

[2021-02-12 13:05] brackendawson commented on #438
I've been putting off doing a PR for this because I can't convince myself it's the right thing to do.

There's a couple of good reasons I see not to make a change here:
- It's additional code and additional behaviour, which we would have to document and maintain. It's an additional burden to users of the framework to understand, that HTTP/1.0 clients might see different errors generated by go-rest

[2021-03-10 09:21] #438 closed

[2021-03-10 09:22] emicklei commented on #438
thank you for sharing your final thoughs

[2021-03-10 09:25] emicklei commented on #452
i am closing this now. feel free to comment later.

[2021-03-10 09:25] #452 closed

[2021-03-10 09:26] emicklei commented on #457
not reproduceable by me.

[2021-03-10 09:26] #457 closed

[2021-04-12 04:12] axw opened #467 "Request.SelectedRoutePath panics if no route is selected"
`Request.SelectedRoutePath` panics when called on a request with selected route. For example, this happens when using Elastic APM's `apmrestful` filter: https://github.com/elastic/apm-agent-go/blob/f62afdfda01d0cbe73f477c357d5b8a3017e5144/module/apmrestful/filter.go#L55-L66

This is caused by https://github.com/emicklei/go-restful/pull/462/files. Previously the method would return "".

[2021-04-12 09:29] emicklei commented on #467
thank you for reporting this. somehow the tests did not capture this. will work on a fix asap

[2021-04-12 09:43] emicklei commented on #467
https://github.com/emicklei/go-restful/pull/468

[2021-04-12 10:23] emicklei commented on #459
this feature is include in v.3.5.1

[2021-04-12 10:23] #459 closed

[2021-04-12 10:23] #458 closed

[2021-05-28 10:42] bartmeuris opened #470 "Clarify how AllowableValues works"
This is mostly a request for documentation improvement and to clarify how exactly this is supposed to work

On a Parameter, you have the `AllowableValues()` method, which I would expect to accept a `[]string` - but instead it accepts a `map[string]string`, and I don't really understand what the purpose of this would be or exactly this map should be constructed to only allow a certain set of values

[2021-05-30 06:58] #467 closed

[2021-07-12 20:56] jeffreydwalter opened #471 "IndexOutofBound panic during RemoveRoute()"
The issue referenced in https://github.com/emicklei/go-restful/issues/276 is not really fixed by the commit that was merged in.

There is still a panic here https://github.com/emicklei/go-restful/blob/1e8c63ce7906ee023956e8068ce4c54d634c2d2b/web_service.go#L190 when you call `RemoveRoute()` with a route that is not in w.routes.

You can reproduce the issue with this code:
[code]

I created a go pl

[2021-07-12 21:16] jeffreydwalter commented on #471
I created a PR which includes the suggested fix here: https://github.com/emicklei/go-restful/pull/472

[2021-07-12 21:27] emicklei commented on #471
thank you reporting this and providing a fix using the PR. I will review the changes and merge on approval.

[2021-07-15 22:55] albertforweb opened #473 "query parameters in route"
Hi,

I have registered a route like this (use path parameters, not query parameters) :

RegisterAPI("GET", "/objects/{bucket}/{key}", restful.RouteFunction(api.GetObjectData))

works fine when make calls like this:

$ curl -i http://localhost/objects/mybucket/myobject.txt

**but** if I want to add query parameters like this , it does not work, get "no matches found":

$ curl -i http://localhost/ob

[2021-07-16 13:57] emicklei commented on #473
the query part of a url is not used for matching. The example you provided contains 2 stars ** . Is that part of the path?

[2021-07-16 19:33] albertforweb commented on #473
the "**" was added by the github editor when you want to bold the words.

the real request is this:

$ curl -i http://localhost/objects/mybucket/myobject.txt?begin=0&end=20

[2021-07-18 13:20] emicklei commented on #473
can you share the example code? it should work so I want to reproduce it.

[2021-07-19 16:19] jeffreydwalter commented on #471
Fixed in PR https://github.com/emicklei/go-restful/pull/472.

[2021-07-19 16:19] #471 closed

[2021-07-21 23:38] albertforweb commented on #473
code :

`
package main

import (
	"github.com/emicklei/go-restful/v3"
	"log"
	"net/http"
	"path"
)

var logger = log.Default()
var wsContainer = restful.NewContainer()
var wsApp = new(restful.WebService).Doc("app")

func registerAPI(method string, subPath string, featureflagKey string, handler restful.RouteFunction, ws *restful.WebService) {
	log.Default().Printf("Registering %s route: %s %s", ws.

[2021-07-22 00:28] albertforweb commented on #473
never mind, url with curl need to be in quotes:

% curl -i "http://localhost:8081/range?start=1&end=2"

[2021-07-22 00:28] #473 closed

[2021-08-01 10:51] quan930 opened #474 "Some links in doc.go are not available"
Some links in doc.go are not available. Thus, people will feel painful to learn if they are not familiar with go-restful. I plan to fix it.

[2021-08-03 05:08] quan930 commented on #474
okay，kill issues

[2021-08-03 05:08] #474 closed

[2021-10-04 18:31] shivanshu1333 opened #479 "A bug that mutates a not-used copy of a struct"
At https://github.com/emicklei/go-restful/blob/v3/route.go#L176-L178
Here [Route](https://github.com/emicklei/go-restful/blob/v3/route.go#L21) is struct which will be copied by value. The mutation on the value receiver `r` doesn't do anything to the original struct in the caller. As a consequence, this mutation has no meaningful effect.

[code]
One fix is to use pointer receiver.

[code]

Another

[2021-10-04 20:18] #479 closed

[2021-11-08 18:08] SVilgelm commented on #470
@emicklei Could you provid an example of how to use AllowableValues? the test does not help at all. Why it is a map? and where does the validation happens?

[2021-11-08 18:15] SVilgelm commented on #470
according to this https://github.com/emicklei/go-restful-openapi/blob/2c3ab9bf579ac10ff5dd182469f9c46c6ef33490/build_path.go#L180-L195

the keys are just some internal values, that are not used anywhere, except it used to provide an order of enum values in swagger

only the values are used

[2021-11-23 11:00] mpdn opened #481 "Compression is applied to already compressed responses"
If a request has an `Accept-Encoding` header and the route itself responds with a compressed response with `Content-Encoding` set, restful will try to compress the response again, resulting in an invalid response body with two `Content-Encoding` headers.

Compression should probably only be applied if there is no `Content-Encoding` header in the response from the route.

[2021-11-23 13:51] emicklei commented on #481
hi, thank you for reporting this. I can remember solving a similar reported problem. I will have a look at it again.

[2021-11-23 15:58] emicklei commented on #470
hi,  it seems that indeed it does not make sense for AllowableValues to be a map.
https://swagger.io/docs/specification/data-models/enums/  shows examples with simple arrays of values.
Changing the type of the field AllowableValues is not possible as it breaks backwards compatibility.
So I think about introducing a new field instead and mark the old as deprecated.

[2021-11-23 20:32] SVilgelm commented on #470
this is great

[2021-11-24 07:18] mpdn commented on #481
I am using `gzip` and the route I have responds with compressed content with a `content-encoding: gzip` header set as well.

[2021-11-24 07:36] emicklei commented on #481
So your response already has compressed content and the package should check the response header too to prevent the duplication?

[2021-11-24 07:39] mpdn commented on #481
Yes, exactly. Otherwise you end up gzipping the response twice.

Though I guess if if compressing it once is good then twice must be better. 😆

[2021-11-30 07:39] emicklei commented on #481
@mpdn can you verify the change in the PR?

[2021-11-30 07:39] emicklei commented on #470
@SVilgelm can you verify / comment on the PR

[2021-12-03 01:54] SVilgelm commented on #470
sure, I will check it

[2021-12-03 22:30] SVilgelm commented on #470
I'm completely OK with the possible values, but the setters Possible and Allowable must to write into same value.
See, we have a huge project with some old legacy code, that we are not going to change anytime soon, except bug fixes.
It would be great if Allowable values will also work, without replacing them to Possible

I would recommend you to change the `AllowableValues` function to write into

[2021-12-05 13:50] emicklei commented on #470
hi @SVilgelm , I agree with your suggestion to not have to change existing code.

[2021-12-19 15:02] NigelZHANG commented on #370
When i use this way to route, it also return 404 error, how to deal with this path:

route path is: /slashy/{var:*}/moreslashy/{otherVar}
url path is: /slashy/go/lang/moreslashy/test

expect result params:
var: go/lang
otherVar: test

[2021-12-19 15:07] emicklei commented on #370
Hi @NigelZHANG , I guess the CurlyRouter is greedy and will return `go/lang/moreslashy/test` for your var.

Now the question is whether the CurlyRouter can be changed to allow this, without breaking its existing behavior.

[2021-12-19 15:26] NigelZHANG commented on #370
Thank you for reply.
I found the way to resolve it, use the `RouterJSR311` to parse params.
Hope it can be helpful to others.

[2021-12-23 13:19] JX-Zhang98 opened #484 "Crash when transfrom template to RegularExpression"
**What version of protobuf and what language are you using?**
Version: (e.g., `v1.1.0`, `89a0c16f`, etc)
go version go1.16.3 linux/amd64，
with go-restful `3d39bafbf10b1a323d9785128dfee9a404570421`
**What did you do?**
If possible, provide a recipe for reproducing the error.
A complete runnable program is good with `.proto` and `.go` source code.
<details><summary>main.go</summary><br><pre>
<code>

[2021-12-30 16:47] chengjingtao opened #485 "Question: Why the path `/basepath/foo%2Fbar` could not match the route `/basepath/{resource}`"
The code is

[code]

when execute command like this
[code]

It just return `404: Page Not Found`. Why it has no routes matched ?

version: v3.5.1

[2022-01-04 11:19] emicklei commented on #485
thank you for reporting this problem.  I will have a look into this behavior ; i fear that this is how the http standard lib works.

[2022-01-08 04:22] emicklei commented on #485
See https://cs.opensource.google/go/go/+/refs/tags/go1.17.6:src/net/url/url.go;drc=e6dda19888180c5159460486d30c0412e4980748;l=668

go-restful is dispatching based on Path, not RawPath

You can use a Route with `"/basepath/{resource:*}"` but that may not be want you want

[2022-01-08 04:23] emicklei commented on #484
thank you for reporting this. I will investigate this

[2022-01-08 04:37] emicklei commented on #484
@JX-Zhang98 is your purpose to make the package more robust? your templates are not valid according to jsr311 and therefore will not work with go-restful.

[2022-01-08 04:37] #481 closed

[2022-01-08 04:37] #470 closed

[2022-01-08 04:38] #431 closed

[2022-01-08 04:39] emicklei commented on #427
i am closing this issue. please reopen if you or someone else needs this

[2022-01-08 04:39] #427 closed

[2022-01-15 03:36] BennyDjo opened #486 "Support content-type application/json for body parameter"
Hello,

I saw there was already a question (issue 406) about this, and you answered it was by designed not supported.
I wish to make a feature request about this. I understand that supporting application/json for BODY is not 100% standard as BodyParamter is made for Form.
Now, I am not an expert in HTTP, and I might be mixing things, in which case sorry for the dummy request :). I feel it is howev

[2022-01-17 06:40] BrucePeng92 opened #487 "Question: How to set httponly cookie in response"
I want to set the token as a cookie. How can I set it as a response using HTTPonly ?

[2022-01-17 07:41] emicklei commented on #487
something like this, accessing the embedded ResponseWriter directly.

[code]

[2022-01-17 08:21] BrucePeng92 commented on #487
Thanks for your reply. I used "WS. Route" as the service route. Is there a way to set cookies in this method?

In "restful. Routefunction", can I set cookies by running "http.SetCookie"?

[2022-01-17 08:55] BrucePeng92 commented on #487
It works, thanks again.

[2022-01-17 08:55] #487 closed

[2022-01-21 16:02] emicklei commented on #486
could you provide an example how you would like it to work?

[2022-01-21 16:05] emicklei commented on #486
having looked at #406 again, I think you want BodyParameter to unmarshal JSON when application/json is sent and return the value with the parameter name as key?

[2022-01-21 16:44] BennyDjo commented on #486
Hello,
Thanks for the reply
Yes indeed.
To give an example, if I make a request like this:

`curl -XPOST  -H "Accept: application/json"  https://127.0.0.1/myAPI  -d {"key1":"value1", "key2":"value2"}
`
Then, inside the webserver, I can acces body parameter with:

[code]

[2022-01-21 19:30] emicklei commented on #486
If we change BodyParameter to do this then its usage is very limited ; body must be a hash, value must be string.

Same can be achieved using ReadEntity
[code]

[2022-02-25 21:07] emicklei commented on #486
feel free to reopen if you need more help

[2022-02-25 21:07] #486 closed

[2022-02-25 21:09] #484 closed

[2022-02-25 21:10] emicklei commented on #485
@chengjingtao can this be closed?

[2022-02-25 21:11] emicklei commented on #165
no interest for more than a year, lets close this

[2022-02-25 21:11] #165 closed

[2022-02-25 21:11] #430 closed

[2022-03-08 14:05] JamieSlome opened #488 "Add a security policy"
Hey there!

I belong to an open source security research community, and a member (@ktg9) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to

[2022-03-08 21:20] #485 closed

[2022-03-09 09:12] JamieSlome commented on #488
@emicklei - thanks for creating the `SECURITY.md`.

You can take a look at the vulnerability report here:
https://huntr.dev/bounties/be837427-415c-4d8c-808b-62ce20aa84f1/

It is private and only accessible to maintainers with repository write permissions! 👍

[2022-03-16 15:47] JamieSlome commented on #488
@emicklei - any updates here?

[2022-03-29 12:40] JamieSlome opened #489 "[security] Authorization Bypass Through User-Controlled Key"
@emicklei - following on from #488 and https://huntr.dev/bounties/be837427-415c-4d8c-808b-62ce20aa84f1/, we are sharing the details of the report as requested in the `SECURITY.md`.

## Authorization Bypass Through User-Controlled Key in [emicklei/go-restful](https://www.github.com/emicklei/go-restful)

### Reported on Mar 7th 2022

## Description
Hello go restful maintainer team, I would like to r

[2022-03-31 02:12] Altiano opened #490 "Question: About request generate from swagger web"
This is just an easy question...

The produced curl request always has ` -H  "accept: application/json"`

How do I remove that?

[2022-04-01 16:21] emicklei commented on #490
are you using go-restful-openapi to produce the OpenAPI(Swagger) doc?

[2022-04-11 12:07] sickcodes commented on #489
[code]
If Allowed Domain is meant to be `^example.com$` this would be 0.

However, if there's no other way to deny domains then this is critical as it defeats the confidentiality (high), integrity (high), with no apparent affect to confidentiality (none) because it allows `*example.com*`

[2022-04-11 12:10] sickcodes commented on #489
Given the update in the commit above does fix exact match domains, then this is

![image](https://user-images.githubusercontent.com/65906298/162736497-7a453cec-bc35-4a7a-b9d0-4a5dfac43a58.jpeg)

[2022-04-29 21:38] cjbearman opened #492 "Incorrect use of 406 Not Acceptable for incorrect content type"
I have a case where I am using JSON (for request/response). I am making a request that in fact includes an empty body. Technically of course, an empty body is not JSON. However the behavior I am seeing seems incorrect.

Consider the following simple application:

[code]

I can call the method thusly:
[code]
.. And that's all good. But since I don't actually have any POST content here, I would assu

[2022-04-30 13:09] emicklei commented on #492
thank you for reporting this.
I wil make the appropriate changes after checking the specs for POSTing without body.

[2022-05-12 20:01] #490 closed

[2022-05-13 08:00] zhucan opened #494 "How to build a REST API with Golang using go-restful and Gorm transaction？"
Is there a example for it?

[2022-05-20 05:03] poornivasan opened #495 "Affecting github.com/emicklei/go-restfulOpen"
A fix was pushed into the master branch but not yet published.

Let me when will get the version to upgrade or any by-pass method to ignore the vulnerable.

[2022-05-25 17:39] emicklei commented on #494
@zhucan I am sorry but I am not aware of an example for this.

[2022-05-25 17:51] emicklei commented on #492
with
[code]

[2022-05-26 06:12] zhucan commented on #494
Thanks for your response, does no matter. @emicklei

[2022-05-30 09:28] JamieSlome opened #497 "[security] Path parser inconsistency could lead to bypass several security checks in emicklei/go-restful"
Reported via huntr.dev [here](https://huntr.dev/bounties/1beeab79-9a3a-4674-bd0a-78fff7cd6cca/).

Created: `May 28th 2022`

## Description

There is a inconsistency between how golang(and other packages) and go-restful parses url path. This incosistency could lead several security check bypass in a complex system.

## Steps to reproduce

Copy and run the code below
[code]
Now If you send a request

[2022-06-01 22:40] vinpai opened #498 "New release with the latest commit"
When can we expect a new release with the new commits ? Specifically, looking for one with this commit which fixes a cors issue - https://github.com/emicklei/go-restful/commit/f292efff46ae17e9d104f865a60a39a2ae9402f1

[2022-06-02 20:21] emicklei commented on #498
Hi @vinpai , I don't this commit is fixing the issue completely. As suggested in the PR, I am thinking about making it more explicit. The allowed domains are just strings + add a function hook such that you can provide your own matching logic. Would that solve your problem?

[2022-06-02 20:21] emicklei commented on #497
Thank you for reporting this. I will investigate this further.

[2022-06-02 20:52] #494 closed

[2022-06-03 22:12] vinpai commented on #498
I am actually not using this library directly, but one of the dependencies we are using is using this. Looks like adding a callback should work as then the responsibility of providing the logic would be on the user of the library. But why not make it an explicit list of domains instead ? Or was a regex match the original intention behind that param ?

[2022-06-04 08:30] emicklei commented on #492
pr merged

[2022-06-04 08:30] #492 closed

[2022-06-04 08:32] emicklei commented on #489
I do not have the expertise to verify the rating. I hope to merge the PR within days.

[2022-06-04 08:32] emicklei commented on #495
once the 2 open PR are merged then I will create a new version

[2022-06-04 08:35] JamieSlome commented on #489
@emicklei - no worries at all. Can you at least confirm whether you perceive this to be a vulnerability?

If you could mark it accordingly on our report, that would be appreciated, otherwise, we will do it on your behalf :)

https://huntr.dev/bounties/be837427-415c-4d8c-808b-62ce20aa84f1/

[2022-06-04 08:42] emicklei commented on #497
i was able to reproduce this issue.

your example output

[code]

go-restful example:
[code]

go-restful output:
[code]

[2022-06-04 08:53] emicklei commented on #497
here, the slash is trimmed

https://github.com/emicklei/go-restful/blob/c2c010a8bf168730835fc945ba2f2d01bc764fe2/route.go#L167

now the problem is that change this code will break existing behavior ; client of the package may be affected negatively.
So I am thinking about added a feature flag to disable the trimming and by default this is set to false.  Only when it is explicitly set to true then

[2022-06-06 05:29] emicklei commented on #498
@vinpai so with the PR is supports both:  a callback AND an explicit list of domains.

[2022-06-06 05:32] emicklei commented on #489
I agree that this is a vulnerability ; not sure about the high impact rating.

[2022-06-06 05:56] #498 closed

[2022-06-06 05:56] emicklei commented on #489
merged into 3.8.0

[2022-06-06 05:56] #489 closed

[2022-06-06 05:56] emicklei commented on #495
merged into 3.8.0

[2022-06-06 05:56] #495 closed

[2022-06-06 05:57] JamieSlome commented on #489
@emicklei - thanks for the work 👍

[2022-06-07 15:57] othomann commented on #489
Hi, is it possible to backport to v2.x stream ? I have an indirect dependency to `v2.15.0+incompatible` that is tagged with this vulnerability.Thanks.

[2022-06-24 14:57] bokunodev opened #499 "swagger example does not use go-restful/v3"
swagger example does not use `go-restful/v3` and `go-restful-swagger12` is not compatible with `go-restful/v3`
[code]

[2022-06-24 19:21] emicklei commented on #499
@bokunodev you should look at https://github.com/emicklei/go-restful/tree/v3/examples/openapi instead.
The swagger example is there for those that are using the older non-v3 versions. Maybe I will delete it...

[2022-06-24 19:21] #499 closed

[2022-06-25 19:57] emicklei commented on #499
good point, I will revist this

[2022-06-29 03:50] bokunodev opened #500 "can resful.Webservice be chained? [question]"
can i chain resful.Webservice's ?

[2022-06-29 17:14] emicklei commented on #500
@bokunodev can you explain what you expect with chaining?
Do you mean: if the first cannot match the URL then try the next in the chain?

[2022-07-13 03:52] emicklei commented on #500
you can add routes to an existing webservice
[code]
removal is also possible when you enable dynamic routes

[2022-07-20 11:28] ggicci opened #504 "Adpat http middleware handler to filter"
Let's treat the following signature as an **"http middleware handler"**:

[code]

I believe many of us are implementing middleware functions in this way. It's really easy to chain these kind of handlers together to work as one complete http handler. And there are already many middleware functions in the community implemented this way. Here are some packages or frameworks supporting this:

1. https

[2022-07-20 19:12] #500 closed, assigned to nobody

[2022-07-21 06:24] ggicci commented on #504
Similar discussion from iris community: https://github.com/kataras/iris/discussions/1885

[2022-07-22 08:46] #504 closed

[2022-07-31 03:33] bokunodev opened #506 "[bug] types with same name mixed up"
[code]
i've go structs like above, for some reason the generated doc contain fields that does not belongs to that type.
change the type name does fix the problem.
same type name with different import path get mixed up for some reason.
i'll make a reproducible example later since the original codebase is quite large.

[2022-08-01 19:53] emicklei commented on #506
yes , better have it there

[2022-08-01 19:56] emicklei commented on #506
Without looking into the details, I think a handler invocation for Returns is possible.  The definition change is a bigger challenge.

[2022-08-16 02:45] fatelei opened #507 "[feature] add prometheus metric filter"
i want to add a prometheus metric filter to go-restful

[2022-08-17 17:07] DSigmund opened #508 "Please deploy update of v2 to https://pkg.go.dev/"
After trying to use prometheus, which uses go-restful, we discovered a CRITICAL CVE:

Detecting gobinary vulnerabilities...

bin/prometheus (gobinary)
=========================
Total: 1 (CRITICAL: 1)
[code]

It here says, the Version 3.8.0 fixed the problem.

[https://pkg.go.dev/github.com/emicklei/go-restful](https://pkg.go.dev/github.com/emicklei/go-restful) has the vulnerable version.
Can you f

[2022-08-17 17:59] emicklei commented on #508
i think you are right, I will see if the same fix can be applied to the v2
version

On Wed, Aug 17, 2022 at 19:07 Dominik Sigmund ***@***.***>
wrote:

--
Met vriendelijke groet, Kind regards,

Ernest Micklei

Try out my music project Melrōse <https://melrōse.org>

[2022-08-17 18:23] DSigmund commented on #508
Thank you very much :-)

On Wed, 17 Aug 2022, 19:59 Ernest Micklei, ***@***.***> wrote:

[2022-08-18 20:15] emicklei commented on #508
Hi,  I checked and saw that I already cherry picked the changes into 2.16.0
See https://github.com/emicklei/go-restful/blob/master/CHANGES.md

[2022-08-18 20:17] emicklei commented on #508
So how can I mark `v2.16.0+incompatible` as being a fixed version too?

[2022-08-18 20:25] emicklei commented on #507
great!  but please do not add prometheus as a dependency to this package. Instead, create an example with its own go.mod file that uses your filter defined in that example.

[2022-08-19 06:21] DSigmund commented on #508
i guess you may bump the version to e.g. `v2.16.1+incompatible`
Then it should be resolved?

[2022-08-22 19:37] emicklei commented on #508
Well, I thought the v2.16.0 would do it at the time.
My guess is that some other tooling and public? registry out there needs to become aware of it.
I assume such a registry is able to handle multiple major versions for a given library.
How and where are the CVE issues created?

[2022-09-02 16:43] balloman opened #509 "How to reset the default container"
I'm trying to write tests for some route functions, and need to test the usage of path paremeters. To do this, I'm using the default service container to serve the http requests. This works fine, but as soon as I want to run another request, then I get this error `WebService with duplicate root path detected`

I tried removing the web service with restful.DefaultContainer.Remove(), but then I get

[2022-09-03 09:18] emicklei commented on #509
Hi,

One option is create a new container instead of using the default ; it will have its own ServeMux.
See https://github.com/emicklei/go-restful/blob/v3/examples/multi-container/restful-multi-containers.go

Replacing the `DefaultServeMux` in http does not work (there is a package private var referring to it).

[2022-09-03 12:38] #509 closed

[2022-09-19 06:43] starzhanganz commented on #497
@emicklei May I know any update on this? As OTEL has used this package, it's affecting many other users using OTEL images. thanks!
[OTEL Link](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/dd2141b5f6c498b7d817013886a22c3c1c4084bf/internal/k8sconfig/go.mod#L15)

[2022-09-22 02:55] wofanli opened #510 "Request.QueryParameter function consumes large memory for big request"
I try to process query parameters before the whole HTTP request body are well-received in server. However, looks like Request.QueryParameter would wait for the whole HTTP request body.

Could we replace this function with something like:  r.Request.URL.Query()[name][0]?

[2022-09-23 17:03] emicklei commented on #510
hi, thank you for reporting this. I will have a look at this issue.

[2022-09-30 01:38] codechris1 commented on #497
Hello guys,

Is there any update on this?

[2022-09-30 06:43] emicklei commented on #497
hi all, sorry for the delay. I will add this feature flag as mentioned. Will that suffice?

[2022-09-30 17:59] emicklei commented on #497
After the change, two test fail. Need to check if the test was correct in the first place
[code]

[2022-09-30 18:08] emicklei commented on #497
please check https://github.com/emicklei/go-restful/pull/511

[2022-09-30 18:23] emicklei commented on #508
this says its ok now:  https://nvd.nist.gov/vuln/detail/CVE-2022-1996

[2022-10-02 17:49] emicklei commented on #507
closing this now as you can send a PR for the example

[2022-10-02 17:49] #507 closed

[2022-10-03 19:21] emicklei commented on #497
@JamieSlome i believe the PR will fix the reported issue

[2022-10-04 07:55] DSigmund commented on #508
Great, thank you!

[2022-10-04 07:55] #508 closed

[2022-10-04 08:04] JamieSlome commented on #497
@benharvie

[2022-10-10 09:33] emicklei commented on #510
can you verify the fix @wofanli  so this can be closed ?

[2022-10-10 14:51] #510 closed

[2022-10-12 22:17] Jefftree opened #514 "Support for multiple return types"
Is there any plan to support an endpoint capable of returning multiple return types? Eg: a `ws.Route(...).Writes(TypeA{}}, TypeB{})`

[2022-10-16 12:07] emicklei commented on #514
can you explain the usecase?  does the OpenAPI also support this?

[2022-10-18 02:59] starzhanganz commented on #497
Looks like the PR is still not merged yet, probably due to the code test coverage filed?
Appreciate any update on this!

[2022-10-18 20:12] Jefftree commented on #514
OpenAPI V3 supports returning a oneOf (https://swagger.io/specification/#discriminator-object). Kubernetes has endpoints that could return one of multiple values and I think it'd be useful if the WebService object could express that as well.

[2022-10-21 17:14] vrunoa opened #516 "(discussion) PrettyPrintResponses default value to false"
Hi @emicklei I'm using your package and wonder if we can have a discussion on setting the default value for `PrettyPrintResponses` to `false`
[https://github.com/emicklei/go-restful/blob/v3/response.go#L18](https://github.com/emicklei/go-restful/blob/v3/response.go#L18)

As I add your package into new services, I have to add `restful.PrettyPrintResponses = false` and wonder what's your context and

[2022-10-21 20:38] emicklei commented on #516
Thank you for sharing your concerns. To be honest, I do not recall the reason for setting it to true or even having this feature at all. I agree that displaying a pretty response is a client concern ; even a browser can doit (w/o plugin).
Removing it is not possible (backward compatibility) but setting it to false should not be a problem to users of the package.
Btw, to avoid the racing problem, y

[2022-10-21 21:30] vrunoa commented on #516
@emicklei yeah changing this default value would definitely be a major change. Wonder if it could be set up at the container level 🤔 ? But maybe is not worth it as `init()` solves the race condition.

[2022-11-03 02:57] #516 closed

[2022-11-03 13:27] dvasilen commented on #497
The fix or an ETA is appreciated.

[2022-11-11 05:50] emicklei commented on #514
@Jefftree , did you have a look at the PR?

[2022-11-11 05:52] emicklei commented on #506
Move to go-restful-openapi repo

[2022-11-11 05:52] #506 closed

[2022-11-13 20:24] steffann opened #519 "Tokenizer change in 3.10 breaks many URLs"
I'm using https://github.com/emicklei/go-restful/tree/67c9f7e97871832a5773f8a7c66230c7e3322e20/examples/openapi as the test case.

This has the following content in `go.mod`:

[code]

Running this:
[code]

And in a second window:
[code]

Upgraded to github.com/emicklei/go-restful/v3 v3.9.0:
[code]

Still good:
[code]

But with 3.10:
[code]

It fails:
[code]

Instead it suddenly requires a trailing

[2022-11-13 20:43] emicklei commented on #519
thank you for reporting this.  The change was made because of a reported Security issue. I will have a close look at your example(s)

[2022-11-13 22:49] emicklei commented on #519
I was able to reproduce the problem.
With a small change to the `go-restful-openapi` package, I was able to get a working example.
I need to think about is implications before going ahead with this
[code]

[2022-11-13 23:25] steffann commented on #519
FYI: it isn’t just the openapi endpoint that stopped working. I just use that one as an example. It’s all of the endpoints. /users doesn’t work anymore, only /users/ etc.

[2022-11-14 10:18] emicklei commented on #519
yes, i realise the impact is larger. thinking about rolling it back

[2022-11-14 11:42] steffann commented on #519
What was the security issue? Maybe I can help with finding a better solution.

[2022-11-14 18:59] Jefftree commented on #514
Thanks for the addition, will test it out this week but marking this as closed for now.

[2022-11-14 18:59] #514 closed

[2022-11-14 21:44] emicklei commented on #519
https://github.com/emicklei/go-restful/issues/497

[2022-11-14 22:25] steffann commented on #519
The feature flag mentioned there doesn’t seem to be implemented. How about a setting with three possible values:
- trailing slash must be present (current behaviour)
- trailing slash must NOT be present (matches the generated Swagger spec)
- trailing slash optional (the old behaviour)

That way everybody can choose for their application what their URL structure is.

If you like this solution I’d b

[2022-11-15 16:10] emicklei commented on #519
@steffann  can you look at https://github.com/emicklei/go-restful/commit/bc68247292e464b509764a8f469cae0fe5030b60 ?

[2022-11-22 14:12] jimmyseto commented on #497
hi.  did the fix for this issue address PRISMA-2022-0227?  a scan against v3.10.1 suggests the vulnerability is still here (?).

[2022-11-22 20:29] brutif commented on #497
I'm not sure this is a bypass. Yes, go-restful handles trailing slashes differently than than  net/http, but how could a disclosure actually occur?  From above go-restful example,
[code]
The presence or absence of the trailing / won't cause the authorization check to be skipped.  I'm trying to think of a realistic example where it would, and I can't.